.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .form {
        width: 35%;
        background-color: #d9d7d7;
        padding: 35px;

        .input {
            display: flex;
            width: 100%;
            margin-bottom: 10px;
            input {
                width: 100%;
                padding: 12px;
            }

            button {
                width: 30%;
                padding: 12px;
                background-color: #263f50;
                color: white;
                font-size: 1.2em;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    background-color: #466a83;
                }
            }
        }
        
    }

    .news{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px;
    
        .news-item{
            width: 20%;
            background-color: white;
            margin: 12px;
            padding: 12px;
            .img{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .item-desc{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                h2{
                    font-size: 1.5em;
                    font-weight: 500;
                    padding-top: 15px;
                    padding-bottom: 15px;
                }
                h3{
                    font-size: 1.2em;
                    font-weight: 300;
                    text-align: center;
                }
                span{
                    margin-top: 12px;
                }
            }
            .action{
                padding: 12px;
                display: flex;
                justify-content: space-around;
                align-items: center;
    
                button{
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #263f50;
                    color: white;
                    cursor: pointer;
                    &:hover{
                       background-color: #466a83;
                     }
                }
                .button{
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #263f50;
                    color: white;
                    cursor: pointer;
                    &:hover{
                       background-color: #466a83;
                     }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .search{
        .form{
            width: 90%;
        }
        .news{
            .news-item{
                width: 44%;
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .search{
        .form{
            width: 90%;
        }
        .news{
            .news-item{
                width: 44%;
            }
        }
    }
}